#red{
    color: red;
    font-size: normal;
}

img{
    height: 200px;
    width: 200px;
}

#yellow{
    color: yellow;
    font-size: normal;
}

#blue{
    color: blue;
    font-size: normal;
}

#green{
    color: green;
    font-size: normal;
}

#orange{
    color: orange;
    font-size: normal;
}